header {
  background-image: url("../img/ABSTRACT_BACKGROUND_01.jpg");
}

body {
  background-image: url("../img/fondo.jpg");
}

.footer {
  height: auto !important;
  position: fixed;
  bottom: 0;
  width: 100%;
}

.bg-form-container{

   background-color: rgba(99, 98, 97, 0.459);
   
}

