header {
  background-image: url("ABSTRACT_BACKGROUND_01.jpg");
  }
.header-title{
  width: 100%;
}
.header-dropdown{
  cursor: pointer;
}
.no-gutters {
  --bs-gutter-x: 0 !important;
  --bs-gutter-y: 0 !important;
}